.img {
  width: 100%;
}
img {
  width: 100%;
}
.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.item-info-left {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-align: left;
}
.item-info-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 3px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
