#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shippingCart {
  border: 1px solid #555;
  padding: 6px;
  font-size: 12px;
}

ul {
  list-style: none;
}
